DATABASE_URL="postgresql://leetplus:leetplus_password@127.0.0.1:5432/leetplus?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"

JWT_SECRET="change_me_in_production"
APP_ENCRYPTION_KEY="change_me_32_plus_chars_in_production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

APP_DOMAIN="leetplus.ru"
WEB_URL="http://localhost:3000"
API_URL="http://localhost:4000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
SYNC_SERVICE_TOKEN="change_me_for_cron"
GUEST_GAME_TELEGRAM_BOT_USERNAME=""
GUEST_GAME_TELEGRAM_LINK_SECRET=""
GUEST_GAME_TELEGRAM_WEBHOOK_SECRET=""
GUEST_GAME_TELEGRAM_WEBHOOK_REPLY_ENABLED="false"
GUEST_GAME_TELEGRAM_WEBHOOK_REPLY_BOT_TOKEN=""
GUEST_GAME_TELEGRAM_MINI_APP_URL=""
GUEST_GAME_TELEGRAM_MINI_APP_BOT_TOKEN=""
GUEST_GAME_TELEGRAM_MINI_APP_INIT_DATA_TTL_SECONDS="86400"
GUEST_GAME_TG_EDGE_HOST="127.0.0.1"
GUEST_GAME_TG_EDGE_PORT="4010"
GUEST_GAME_TG_EDGE_LEETPLUS_API_URL="https://api.leetplus.ru"
GUEST_GAME_TG_EDGE_LEETPLUS_WEBHOOK_PATH="/guest-portal/telegram/webhook"
GUEST_GAME_TG_EDGE_WEBHOOK_SECRET=""
GUEST_GAME_TG_EDGE_BOT_TOKEN=""
GUEST_GAME_TG_EDGE_TELEGRAM_API_BASE_URL="https://api.telegram.org"
GUEST_GAME_TG_EDGE_DRY_RUN="true"
GUEST_GAME_TG_EDGE_REQUEST_TIMEOUT_MS="15000"
GUEST_GAME_TG_EDGE_HEALTH_SECRET=""
GUEST_GAME_TG_EDGE_SHARED_SECRET=""
GUEST_GAME_REFERRAL_SECRET=""
GUEST_PORTAL_USER_CALL_ENABLED="false"
GUEST_PORTAL_USER_CALL_PROVIDER=""
GUEST_PORTAL_USER_CALL_PHONE_NUMBER=""
GUEST_PORTAL_USER_CALL_SECRET=""
GUEST_PORTAL_USER_CALL_SMS_RU_API_ID=""
GUEST_PORTAL_USER_CALL_SMS_RU_BASE_URL="https://sms.ru"
GUEST_PORTAL_INCOMING_CALL_LAST4_ENABLED="false"
GUEST_PORTAL_INCOMING_CALL_LAST4_ENDPOINT=""
GUEST_PORTAL_INCOMING_CALL_LAST4_TOKEN=""
GUEST_PORTAL_DEV_OTP_ENABLED="false"
GUEST_PORTAL_OTP_REAL_SEND_ENABLED="false"
GUEST_PORTAL_OTP_SMS_ENABLED="false"
GUEST_PORTAL_OTP_SMS_ENDPOINT=""
GUEST_PORTAL_OTP_SMS_TOKEN=""
GUEST_PORTAL_OTP_TELEGRAM_ENABLED="false"
GUEST_PORTAL_TELEGRAM_BOT_TOKEN=""
GUEST_PORTAL_OTP_MAX_ENABLED="false"
GUEST_PORTAL_OTP_MAX_ENDPOINT=""
GUEST_PORTAL_OTP_MAX_TOKEN=""
GUEST_GAME_DELIVERY_REAL_SEND_ENABLED="false"
GUEST_GAME_TELEGRAM_DELIVERY_ENABLED="false"
GUEST_GAME_TELEGRAM_BOT_TOKEN=""
GUEST_GAME_MAX_DELIVERY_ENABLED="false"
GUEST_GAME_MAX_BOT_TOKEN=""
GUEST_GAME_MAX_DELIVERY_ENDPOINT=""
GUEST_GAME_BOT_CONSUMER_API_URL=""
GUEST_GAME_BOT_CONSUMER_SYNC_TOKEN=""
GUEST_GAME_BOT_CONSUMER_TENANT_ID=""
GUEST_GAME_BOT_CONSUMER_TENANT_SLUG=""
GUEST_GAME_BOT_CONSUMER_CHANNELS="TELEGRAM"
GUEST_GAME_BOT_CONSUMER_LIMIT="10"
GUEST_GAME_BOT_CONSUMER_DRY_RUN="true"
GUEST_GAME_BOT_CONSUMER_INTERVAL_MS=""
GUEST_GAME_BOT_CONSUMER_MAX_TICKS=""
GUEST_GAME_BOT_CONSUMER_REQUEST_TIMEOUT_MS="15000"
GUEST_GAME_BOT_CONSUMER_TELEGRAM_BOT_TOKEN=""
GUEST_GAME_BOT_CONSUMER_TELEGRAM_API_BASE_URL="https://api.telegram.org"
LANGAME_BONUS_ACCRUAL_ENABLED="false"
LANGAME_BONUS_ACCRUAL_PATH="/master_api/guests/balance/phone"
LANGAME_BONUS_ACCRUAL_REWARD_TYPES="BONUS,BONUS_POINTS,BONUS_BALANCE,LOYALTY_BONUS"
LANGAME_BONUS_ACCRUAL_MAX_ATTEMPTS="5"
LANGAME_BONUS_ACCRUAL_RETRY_MINUTES="15"
LANGAME_BONUS_ACCRUAL_STALE_LOCK_MINUTES="15"
GUEST_GAME_BONUS_LEDGER_SCHEDULER_ENABLED="false"
GUEST_GAME_BONUS_LEDGER_SCHEDULER_INTERVAL_MS="300000"
GUEST_GAME_BONUS_LEDGER_SCHEDULER_LIMIT="50"
GUEST_GAME_BONUS_LEDGER_SCHEDULER_DRY_RUN=""
GUEST_GAME_BONUS_LEDGER_SCHEDULER_QUEUE_APPROVED_REWARDS="true"
GUEST_GAME_BONUS_LEDGER_SCHEDULER_TENANT_ID=""
GUEST_GAME_BONUS_LEDGER_SCHEDULER_TENANT_SLUG=""
GUEST_GAME_BONUS_LEDGER_SCHEDULER_REWARD_TYPES=""
REPORT_DIGEST_SCHEDULER_ENABLED="false"
REPORT_DIGEST_SCHEDULER_TIMEZONE_OFFSET_MINUTES="300"
REPORT_DIGEST_DAILY_TIME="09:00"
REPORT_DIGEST_WEEKLY_TIME="09:30"
REPORT_DIGEST_WEEKLY_DAY="1"
REPORT_DIGEST_SCHEDULER_WINDOW_MINUTES="15"
REPORT_DIGEST_SCHEDULER_INTERVAL_MS="60000"

MAIL_HOST="localhost"
MAIL_PORT="1025"
MAIL_SECURE="false"
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM="LeetPlus <no-reply@leetplus.ru>"
EMAIL_VERIFICATION_EXPIRES_MINUTES="60"

LANGAME_API_KEY=""
LANGAME_DOMAINS="1337.langame.ru,443.langame.ru,46.langamepro.ru"
DADATA_API_KEY=""
