DATABASE_URL="postgresql://leetplus:leetplus_password@127.0.0.1:5432/leetplus?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"

JWT_SECRET="change_me_in_production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

APP_DOMAIN="leetplus.ru"
WEB_URL="http://localhost:3000"
API_URL="http://localhost:4000"

MAIL_HOST="localhost"
MAIL_PORT="1025"
MAIL_SECURE="false"
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM="LeetPlus <no-reply@leetplus.ru>"
EMAIL_VERIFICATION_EXPIRES_MINUTES="60"

LANGAME_API_KEY=""
LANGAME_DOMAINS="1337.langame.ru,443.langame.ru,46.langamepro.ru"