DATABASE_URL="postgresql://leetplus:leetplus_password@127.0.0.1:5432/leetplus?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"

JWT_SECRET="change_me_in_production"
APP_ENCRYPTION_KEY="change_me_32_plus_chars_in_production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

APP_DOMAIN="leetplus.ru"
WEB_URL="http://localhost:3000"
API_URL="http://localhost:4000"
SYNC_SERVICE_TOKEN="change_me_for_cron"
REPORT_DIGEST_SCHEDULER_ENABLED="false"
REPORT_DIGEST_SCHEDULER_TIMEZONE_OFFSET_MINUTES="300"
REPORT_DIGEST_DAILY_TIME="09:00"
REPORT_DIGEST_WEEKLY_TIME="09:30"
REPORT_DIGEST_WEEKLY_DAY="1"
REPORT_DIGEST_SCHEDULER_WINDOW_MINUTES="15"
REPORT_DIGEST_SCHEDULER_INTERVAL_MS="60000"

MAIL_HOST="localhost"
MAIL_PORT="1025"
MAIL_SECURE="false"
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM="LeetPlus <no-reply@leetplus.ru>"
EMAIL_VERIFICATION_EXPIRES_MINUTES="60"

LANGAME_API_KEY=""
LANGAME_DOMAINS="1337.langame.ru,443.langame.ru,46.langamepro.ru"
