upstream leetplus_api {
    server 127.0.0.1:4200 max_fails=2 fail_timeout=5s;
    server 127.0.0.1:4000 backup;
    keepalive 32;
}

upstream leetplus_web {
    server 127.0.0.1:3200 max_fails=2 fail_timeout=5s;
    server 127.0.0.1:3000 backup;
    keepalive 32;
}
